<!DOCTYPE html>
<html>
<head>
    <title>Contact Book</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Contact Book</h1>
    <a href="/add" class="button">Add Contact</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% contacts.forEach(contact => { %>
                <tr>
                    <td><%= contact.name %></td>
                    <td><%= contact.phone %></td>
                    <td><%= contact.email %></td>
                    <td>
                        <form action="/delete/<%= contact._id %>" method="post" style="display:inline;">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                        <a href="/edit/<%= contact._id %>" class="button">Edit</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
